.ipynb_checkpoints
.DS_store
*.code-workspace
*.backup*
exdraft/
.gitignore
Exercises/*(solved)*.jl
.vscode/settings.json
Exercises/demo2.log
Exercises/determinesamplesize.pdf
Exercises/multisim - 100 iterations - 1 staff.pdf
Exercises/multisim - 100 iterations - 2 staff.pdf
Exercises/queuelength.pdf
multisim - 100 iterations - 1 staff.png
multisim - 100 iterations - 2 staff.png
queuelength.png
samplesize.png
/test/*
